@use '@wordpress/base-styles/colors' as colors;

.post-type-blockshot {
	.edit-post-visual-editor__post-title-wrapper,
	.editor-post-title,
	.editor-post-title__block,
	.editor-preview-dropdown,
	.editor-post-content-information,
	.editor-post-panel__row:has(.components-button[aria-label="Template options"]) {
		display: none !important;
	}

	.editor-styles-wrapper .is-root-container {
		padding: 48px 0;
	}

	.editor-styles-wrapper,
	.block-editor-iframe__container,
	.interface-interface-skeleton__content {
		background: colors.$gray-300;
	}

	.blockshot-zoom-control {
		align-items: center;
		display: flex;

		&__dropdown {
			> .components-button {
				--wp-admin-theme-color: #{colors.$gray-900};
			}
		}
	}

	.wp-block-post-content {
		display: grid;
		place-items: center;
	}

	.blockshot-export {
		border-top: 0;
		padding-top: 0;
		
		&__controls {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}
	}
}
