@use '@wordpress/base-styles/colors' as colors;

.blockshot-canvas {
	background-color: colors.$white;
	margin-left: auto;
	margin-right: auto;

	&__dimension-panel {
		border-top: 0 !important;
		margin: 0 !important;
		padding-top: 0 !important;

		> .components-base-control:not(:last-child) {
			margin-bottom: 16px;
		}

		.components-base-control,
		.components-base-control__field {
			margin-bottom: 0;
		}

		.components-range-control {
			margin-left: 8px;
			margin-right: 8px;
		}
	}

	&__grid-control {
		display: grid;
		gap: var(--gap, 16px);
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 16px;

		> * {
			margin: 0 !important;
		}

		> *:last-child:nth-child(odd) {
			grid-column: 1 / -1;
		}
	}

	&__layout-space-between {
		display: grid !important;
		grid-template-columns: 1fr;
		
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				display: flex;
				flex-direction: column;
				height: 100%;
				justify-content: space-between;
			}
		}
	}
}

.wp-block-blockshot-canvas {
	box-sizing: border-box;
}

.block-editor-block-list__layout.is-root-container > .wp-block-blockshot-canvas {
	max-width: 100% !important;
}
